dynamic_csv_to_excel/flow.json
{"id":"52ad5e68-f064-421a-b60b-a998890a2d3f","brandColor":"#8C3900","connectionReferences":{"shared_office365":{"connection":{"id":"/kb_sharedoffice365_52e97"}},"shared_excelonlinebusiness":{"connection":{"id":"/kb_sharedexcelonlinebusiness_53c15"}},"shared_sharepointonline":{"connection":{"id":"/kb_sharedsharepointonline_eca8a"}},"shared_office365_1":{"connection":{"id":"/pphaw_sharedoffice365_2b2cd"}},"shared_sharepointonline_2":{"connection":{"id":"/pphaw_sharedsharepointonline_35cd9"}},"shared_excelonlinebusiness_1":{"connection":{"id":"/pphaw_sharedexcelonlinebusiness_30b54"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Flow","operationDefinition":{"type":"Scope","actions":{"Exception_handler":{"type":"Scope","actions":{"Send_an_email_(V2)_|_Send_mail_to_exception_receiver":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email-encoded']","emailMessage/Subject":"Error with a flow: @{workflow()['tags']['flowDisplayName']}","emailMessage/Body":"<p>Error with the flow. See the table below.<br>\n<br>\n<strong>Technical Name:</strong> @{workflow()['Name']}<br>\n<strong>Display Name:</strong> @{workflow()['tags']['flowDisplayName']}<br>\n<strong>Environment Name: </strong>@{workflow()['tags']['environmentName']}<br>\n<br>\n<strong>Link to flow run: </strong>@{concat('https://make.powerautomate.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}<br>\n<strong>Link to the flow:</strong> @{concat('https://make.powerautomate.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'])}<br>\n<br>\n@{body('Create_HTML_table_|_Create_table_with_errors')}</p>","emailMessage/Importance":"Normal"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Create_HTML_table_|_Create_table_with_errors":["Succeeded"]},"metadata":{"operationMetadataId":"4b1db751-6212-42a0-ac89-77d6a5ac3a3f"}},"Terminate":{"metadata":{"operationMetadataId":"08fc212b-4ecf-43e6-a829-b6f9d31661aa"},"type":"Terminate","inputs":{"runStatus":"Failed"},"runAfter":{"Send_an_email_(V2)_|_Send_mail_to_exception_receiver":["Succeeded"]}},"Create_HTML_table_|_Create_table_with_errors":{"type":"Table","inputs":{"from":"@result('Main')","format":"HTML","columns":[{"header":"name","value":"@item()?['name']"},{"header":"code","value":"@item()?['code']"},{"header":"status","value":"@item()?['status']"},{"header":"code","value":"@item()?['error']?['code']"},{"header":"message","value":"@item()?['error']?['message']"}]},"runAfter":{},"metadata":{"operationMetadataId":"ab172923-2ad3-4b5e-aac4-59086c8a3fb1"}}},"runAfter":{"Main":["TimedOut"]},"metadata":{"operationMetadataId":"7778dea0-b063-4bf8-b510-0a3a638c2d4d"}},"Beispieldaten_zum_ausprobieren_als_inputCSV_nutzen":{"type":"Scope","actions":{"Compose_|_Beispieldaten:_Zeiterfassung":{"type":"Compose","inputs":[{"MitarbeiterID":"MA142","ProjektID":"PRJ17","Aktivitaet":"Support","Arbeitsstunden":1,"Datum":"2023-12-20"},{"MitarbeiterID":"MA142","ProjektID":"PRJ14","Aktivitaet":"Testing","Arbeitsstunden":5,"Datum":"2023-12-27"},{"MitarbeiterID":"MA107","ProjektID":"PRJ15","Aktivitaet":"Testing","Arbeitsstunden":3,"Datum":"2023-12-20"},{"MitarbeiterID":"MA119","ProjektID":"PRJ12","Aktivitaet":"Testing","Arbeitsstunden":6,"Datum":"2023-12-19"},{"MitarbeiterID":"MA145","ProjektID":"PRJ13","Aktivitaet":"Testing","Arbeitsstunden":5,"Datum":"2024-01-04"}],"runAfter":{},"metadata":{"operationMetadataId":"775d8a36-cd46-47f2-b706-3ab7dfcd4dfc"}},"Compose_|_Beispieldaten:_Fahrzeugcheck":{"type":"Compose","inputs":[{"FahrzeugID":"VH1054","Fahrzeugtyp":"Kleinwagen","Kilometerstand":132373,"Zustand_Karosserie":"Gut","Zustand_Innenraum":"Mittel","Zustand_Motor":"Mittel","Zustand_Reifen":"Gut","Werkzeug_vollstaendig":"Ja","Bemerkung":"Keine","Datum":"2023-12-18 09:01:18"},{"FahrzeugID":"VH1041","Fahrzeugtyp":"Kleinwagen","Kilometerstand":138868,"Zustand_Karosserie":"Neuwertig","Zustand_Innenraum":"Neuwertig","Zustand_Motor":"Neuwertig","Zustand_Reifen":"Abgenutzt","Werkzeug_vollstaendig":"Nein","Bemerkung":"Neue Reifen benötigt","Datum":"2023-09-08 21:26:49"},{"FahrzeugID":"VH1092","Fahrzeugtyp":"SUV","Kilometerstand":12452,"Zustand_Karosserie":"Gut","Zustand_Innenraum":"Mittel","Zustand_Motor":"Abgenutzt","Zustand_Reifen":"Abgenutzt","Werkzeug_vollstaendig":"Ja","Bemerkung":"Kleine Kratzer","Datum":"2023-12-28 16:46:19"},{"FahrzeugID":"VH1012","Fahrzeugtyp":"Limousine","Kilometerstand":134494,"Zustand_Karosserie":"Defekt","Zustand_Innenraum":"Abgenutzt","Zustand_Motor":"Abgenutzt","Zustand_Reifen":"Gut","Werkzeug_vollstaendig":"Nein","Bemerkung":"Neue Reifen benötigt","Datum":"2023-04-27 06:14:13"}],"runAfter":{"Compose_|_Beispieldaten:_Zeiterfassung":["Succeeded"]},"metadata":{"operationMetadataId":"65a05ed9-09ab-486e-8772-b7de04ac6519"}},"Compose_|_Beispieldaten:_Kundenaufträge":{"type":"Compose","inputs":[{"KundenID":"KD230","Produkt":"Smartphone","Menge":4,"Preis":250,"Auftragsstatus":"Abgeschlossen","Auftragsdatum":"2023-11-22"},{"KundenID":"KD234","Produkt":"Laptop","Menge":4,"Preis":700,"Auftragsstatus":"Abgeschlossen","Auftragsdatum":"2023-12-06"},{"KundenID":"KD212","Produkt":"Kopfhörer","Menge":2,"Preis":250,"Auftragsstatus":"Abgeschlossen","Auftragsdatum":"2023-12-29"},{"KundenID":"KD248","Produkt":"Tablet","Menge":1,"Preis":500,"Auftragsstatus":"In Bearbeitung","Auftragsdatum":"2023-11-22"},{"KundenID":"KD227","Produkt":"Tablet","Menge":1,"Preis":700,"Auftragsstatus":"In Bearbeitung","Auftragsdatum":"2023-12-09"}],"runAfter":{"Compose_|_Beispieldaten:_Fahrzeugcheck":["Succeeded"]},"metadata":{"operationMetadataId":"e6ab62c6-b09b-4883-9104-ee9d144b3312"}}},"runAfter":{},"description":"Beispieldaten, die das Konzept und den Vorteil des Flows deutlich machen sollen: Egal welche Anzahl an Spalten oder Zeilen, der Flow kann diese Daten dynamisch verarbeiten in Excel.","metadata":{"operationMetadataId":"2cd665e7-19f7-4d3d-869c-61dec60d5c30"}},"Main":{"type":"Scope","actions":{"CSV-Tabelle_erstellen":{"type":"Table","inputs":{"from":"@JSON(triggerBody()['text'])","format":"CSV"},"runAfter":{},"metadata":{"operationMetadataId":"a6452b94-91a5-408d-85b3-b5380176b17e"}},"Get_file_content_using_path_|_Get_Excel_template":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://emashde.sharepoint.com/sites/Sandkiste","path":"/Export CSV to Excel/Template.xlsx","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"CSV-Tabelle_erstellen":["Succeeded"]},"description":"Füge hier den Pfad ein, wo dein Excel Template mit dem Office Script liegt und verweise direkt auf die Excel Datei","metadata":{"operationMetadataId":"0a36fdd2-1aa8-4cc5-8980-a688a4b0c6a4"}},"Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://emashde.sharepoint.com/sites/Sandkiste","folderPath":"/Export CSV to Excel","name":"@{utcNow('yyyy-MM-dd_HH:mm:ss')}_Export.xlsx","body":"@body('Get_file_content_using_path_|_Get_Excel_template')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Get_file_content_using_path_|_Get_Excel_template":["Succeeded"]},"description":"Das Template (mit dem Script CSV zu Excel) wird kopiert als neue Datei, um danach mit dem CSV aus dem Flow in \"Run Script\" befüllt zu werden. Gib' den Pfad an, wo die Excel Dateien abgelegt werden soll. ACHTUNG: File Content MUSS das Template sein","runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"c6de4598-ee17-48c0-b1d0-8bf091a1dc4c"}},"Run_script_|_Csv_aus_Flow_übergeben_und_Script_ausführen":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/5492fa71-5f6e-4735-8be4-3cbd8e3e72f6","drive":"b!35acLWp5PU6qnLuSAF4wu3UNvS4dLjVDrK0a0vZVI6Smw8RjXRlKSYNZpbLqYFSQ","file":"@outputs('Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert')?['body/Id']","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01XQB57ENNYZRBJR4AXJEJHAKVGCXIS5DA","ScriptParameters/csv":"@body('CSV-Tabelle_erstellen')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert":["Succeeded"]},"description":"Das Script wird in der neuen Datei (welches das Template enthält) ausgeführt und kann die csv aus dem Flow umwandeln in Excel-Format","metadata":{"01EZ44IAPFA5WKDECTBBFYJ5MKTOG5JR2R":"/APUS/convert-csv-example/Template.xlsx","operationMetadataId":"631a2847-0d85-4500-bf4e-649ca2b567be","tableId":null}},"Dateiinhalt_abrufen":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://eonos.sharepoint.com/sites/PowerPlatformPlayground722","id":"@outputs('Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert')?['body/Id']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Run_script_|_Csv_aus_Flow_übergeben_und_Script_ausführen":["Succeeded"]},"description":"Wir benötigen die ItemId der Datei, um im nächsten Schritt einen Link zur Freigabe erstellen zu können.","metadata":{"operationMetadataId":"1d9284cd-9e4c-4425-8de3-d3e951b56cb6"}},"Freigabelink_für_eine_Datei_oder_einen_Ordner_erstellen":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateSharingLink","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://eonos.sharepoint.com/sites/PowerPlatformPlayground722","table":"dfc5b4c4-86f5-44aa-9b2d-ebaa9f6dac28","id":"@outputs('Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Dateiinhalt_abrufen":["Succeeded"]},"description":"Freigabelink wird erstellt, um diesen per E-Mail zu versenden, damit weitere Datenkopien vermieden werden.","metadata":{"operationMetadataId":"e5650102-5a5e-431c-9d0b-ce13268cf669"}},"E-Mail_senden_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email-encoded']","emailMessage/Subject":"Export csv zu Excel","emailMessage/Body":"<p><u><strong>Hier findest Du die Datei:<br>\n</strong></u><br>\n@{outputs('Freigabelink_für_eine_Datei_oder_einen_Ordner_erstellen')?['body/link/webUrl']}<br>\n</p>","emailMessage/Attachments":[{"Name":"@outputs('Create_file_|_Excel_Template_mit_dem_Script_wird_kopiert')?['body/DisplayName']","ContentBytes":"@body('Dateiinhalt_abrufen')"}],"emailMessage/Importance":"Normal"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Freigabelink_für_eine_Datei_oder_einen_Ordner_erstellen":["Succeeded"]},"metadata":{"operationMetadataId":"fc42f2b1-0f1a-424e-b74d-7c693a102e8c"}}},"runAfter":{"Beispieldaten_zum_ausprobieren_als_inputCSV_nutzen":["Succeeded"]},"metadata":{"operationMetadataId":"ae782e41-74a2-4236-96eb-6d6d300be8c0"}}},"runAfter":{},"metadata":{"operationMetadataId":"b6507a06-4b68-4d0c-aa01-9504d2ab8804"}}}
