create_planner_checklist/flow.json
{
  "id": "9fdd454b-9b4f-4662-828d-858505bc949b",
  "brandColor": "#8C3900",
  "connectionReferences": {
    "shared_planner": {
      "connection": {
        "id": "/ema_sharedplanner_c47ba"
      }
    },
    "shared_microsoftforms": {
      "connection": {
        "id": "/ema_sharedmicrosoftforms_cf76b"
      }
    },
    "shared_sharepointonline": {
      "connection": {
        "id": "/ema_sharedsharepointonline_0e48a"
      }
    }
  },
  "connectorDisplayName": "Control",
  "icon": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
  "isTrigger": false,
  "operationName": "Scope",
  "operationDefinition": {
    "type": "Scope",
    "actions": {
      "Get_items": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_sharepointonline",
            "operationId": "GetItems",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
          },
          "parameters": {
            "dataset": "https://mofaschuppen328.sharepoint.com/sites/MofaschuppenOrganisation",
            "table": "c3881936-b1ad-429e-8eda-dbd3a3992e97"
          },
          "authentication": "@parameters('$authentication')"
        },
        "runAfter": {},
        "metadata": {
          "operationMetadataId": "3ed42fbf-7616-4665-bad5-8ff1cd639be2"
        }
      },
      "Apply_to_each": {
        "type": "Foreach",
        "foreach": "@outputs('Get_items')?['body/value']",
        "actions": {
          "Compose": {
            "type": "Compose",
            "inputs": {
              "task": "@items('Apply_to_each')?['Title']",
              "subtasks": "@body('Select')"
            },
            "runAfter": {
              "Select": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "7d3e7c75-012f-4ae6-b35f-a9de6dcbbfba"
            }
          },
          "Create_a_task": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": {
                "connectionName": "shared_planner",
                "operationId": "CreateTask_V3",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner"
              },
              "parameters": {
                "body/groupId": "e6686ee3-aa11-4196-acd0-dcab70105f79",
                "body/planId": "yvnEZmhpb0i2oG96qM9Y_5gAD0QK",
                "body/title": "@items('Apply_to_each')?['Title']"
              },
              "authentication": "@parameters('$authentication')"
            },
            "runAfter": {
              "Compose": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "b3f6eb1b-91a3-455e-874f-003222bc1d7f"
            }
          },
          "Update_task_details": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": {
                "connectionName": "shared_planner",
                "operationId": "UpdateTaskDetails_V2",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner"
              },
              "parameters": {
                "id": "@outputs('Create_a_task')?['body/id']",
                "body/checklist": "@outputs('Compose')['subtasks']"
              },
              "authentication": "@parameters('$authentication')"
            },
            "runAfter": {
              "Create_a_task": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "82c27454-d0f9-4b9f-afda-ab400e3e9d03"
            }
          },
          "Select": {
            "type": "Select",
            "inputs": {
              "from": "@items('Apply_to_each')?['Sub_x002d_Task']",
              "select": {
                "id": "@item()['Id']",
                "title": "@item()['Value']",
                "isChecked": "@false"
              }
            },
            "runAfter": {},
            "metadata": {
              "operationMetadataId": "2e0324e2-3506-495b-a662-6098cd9f49ca"
            }
          }
        },
        "runAfter": {
          "Get_items": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "d941f0f6-d0d0-404a-b2da-92e049859d85"
        }
      }
    },
    "runAfter": {}
  }
}
